<div class="jumbotron transparent">
  <div class="container">
    <h1>Welcome <small>Admin!</small></h1>
    <p><big>Showing all merks</big></p>
  </div>
</div>

<div class="jumbotron transparent blue">
  <%= link_to "Product", products_path, :class => "btn btn-primary right space" %>
  <%= link_to "Group", group_names_path, :class => "btn btn-primary right space" %>
  <%= link_to "Add new merk", new_merk_path, :class => "btn btn-primary right space" %>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Thumbnail</th>
      <th>Action</th>
    </tr>
    <% @merks.each do |merk| %>
      <tr>
        <td><%= merk.name %></td>
        <td><%= image_tag(merk.background.thumb.url) %></td>
        <td>
          <%= link_to "Edit", edit_merk_path(id: merk.id), :class => "btn btn-primary" %>
          <%= link_to 'Destroy', merk_path(id: merk.id), :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>