
<div class="container">
  <div id="slides">
    <%= image_tag "example1.jpg" %>
    <%= image_tag "example2.jpg" %>
    <%= image_tag "example3.jpg" %>
    <%= image_tag "example4.jpg" %>
  </div>
</div>

<div class="container">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <%= video_tag "grand_shyra.mp4", controls: true, width: 480 %>
  </div>
  <div class="col-md-3">
    <% video_tag "balmut_fata_imajinasi.mp4", controls: true, width: 480 %>
  </div>
</div>

<script>
  $(function() {
    $('#slides').slidesjs({
      width: 940,
      height: 350,
      play: {
        active: true,
        auto: true,
        interval: 4000,
        swap: true
      }
    });
  });
</script>