<script type="text/javascript">
  function filterUrl(id){
    location.href = '/products?merk_id='+ id;
  }
</script>

<div class="jumbotron transparent">
  <div class="container">
    <h1>Welcome <small>Admin!</small></h1>
    <p><big>Showing all products</big></p>
  </div>
</div>


<div class="jumbotron transparent blue">
  <%= select_tag "merk_id", options_for_select(@merks.collect{|merk| [merk.name, merk.id]}, params[:merk_id]), 
    :prompt => 'Select Filter', :class => "left form-control", :style => "width: 30%;", :onchange => "filterUrl(this.value);" %>
  <%= link_to "Slide", slides_path, :class => "btn btn-primary right space" %>
  <%= link_to "Merk", merks_path, :class => "btn btn-primary right space" %>
  <%= link_to "Add new product", new_product_path, :class => "btn btn-primary right space" %>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Merk</th>
      <th>Thumbnail</th>
      <th>Action</th>
    </tr>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.merk.name %></td>
        <td><%= image_tag(product.image.thumb.url) %></td>
        <td>
          <%= link_to "Edit", edit_product_path(id: product.id), :class => "btn btn-primary" %>
          <%= link_to 'Destroy', product_path(id: product.id), :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>