<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "<b style='color: red'>FATA</b>SPREI.com".html_safe, root_path, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if check_class_active('homes', 'about_us') %>"><%= link_to "About Us", "" %></li>
        <% if current_user %>
          <li class="<%= 'active' if check_class_active('products', 'index') %>"><%= link_to "Products", products_path %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fata <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if @merks %>
              <% @merks.each do |merk| %>
                <% next if merk.products.count < 1 %>
                <li><%= link_to merk.name, product_path(id: merk.products.first.id) %></li>
              <% end %>
              <!--li class="divider"></li-->
            <% else %>
              <li><a href="#">Data Kosong</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li><a href="<%= destroy_user_session_url %>" data-method="delete"><span class='glyphicon glyphicon-off red'></span> Log Out</a></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>